
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  background-color: rgb(52, 137, 211);

}
  
  #welcome {
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center center;
    flex-direction: column;
 text-align: center;
    color: white;
}
  
.header{
 background-color: gray;
 text-align: center;

}

.logo{
    position: absolute; 
    top: 10px;
    left: 15px;
}
.container {
    background-image: url('images/welcomeBackground.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    place-content: center center;
    flex-direction: column;
  }

  #getStarted{
    color: rgb(52, 137, 211);
     
      
  }
  #getStarted:hover{
      font-size: larger;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    font-size: larger;
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  #BackButton{
    color: yellow;
  }
  #SkillChoice1{
    font-size: 20px;

  }
  #SkillChoice2{
    font-size: 20px;
  }
  #Weakness{
    font-size: 20px;
  }